jupyter
jupyterlab
lmdb
matplotlib
numpy
pandas
scipy
six
tqdm
captum
jupyter_contrib_nbextensions
scikit-learn
numba
astropy
pylint
fbm
andi-datasets
pytorch-lightning
tramway
umap-learn[parametric_umap]
tensorboard
codecarbon